.save{
    color:black;
    background-color: greenyellow;
    border: 0.1rem solid rgb(45, 201, 45);
    border-radius: 0.3rem;
}

.edit{
    color:black;
    background-color: rgb(47, 231, 255);
    border: 0.1rem solid rgb(76, 214, 238);
    border-radius: 0.3rem;
}

.delete{
    color:black;
    background-color: rgb(255, 88, 88);
    border: 0.1rem solid rgb(253, 67, 67);
    border-radius: 0.3rem;
}

.small{
    padding: 0.2rem;
    font-size: small;
    margin: 0.2rem;
}
.medium{
    padding: 0.4rem;
    font-size: medium;
    margin: 0.2rem;
}
.large{
    padding: 0.6rem;
    font-size: large;
    margin: 0.2rem;
}